In [25]:
import os
import pandas as pd
import numpy as np

In [26]:
qc_ukb = pd.read_csv('/neurospin/dico/data/deep_folding/current/datasets/UkBioBank/qc.tsv', sep='\t')

In [27]:
qc_ukb

      participant_id  qc         comments
0        sub-2859308   1              NaN
1        sub-5201474   1              NaN
2        sub-2967866   1              NaN
3        sub-2707712   1              NaN
4        sub-4770610   1              NaN
...              ...  ..              ...
21302    sub-4248122   0  missing R graph
21303    sub-5837347   0  missing R graph
21304    sub-4831006   0  missing R graph
21305    sub-4632380   0  missing R graph
21306    sub-2786702   0  missing R graph

[21307 rows x 3 columns]

In [28]:
subs_dhcp = pd.read_csv('/neurospin/dico/data/deep_folding/current/datasets/dHCP_374_subjects/qc.tsv', header=None)

In [29]:
subs_dhcp[0] = [elem[:-1] for elem in subs_dhcp[0]]

In [30]:
## remove snapshot by adding 0 to qc
subs_dhcp.columns = ['participant_id']
subs_dhcp['qc'] = [0] + [1 for k in range(1, len(subs_dhcp))]
subs_dhcp['comments'] = ['not a subject'] + [np.nan for k in range(1, len(subs_dhcp))]

In [31]:
subs_dhcp

      participant_id  qc       comments
0           snapshot   0  not a subject
1    sub-CC00063AN06   1            NaN
2    sub-CC00065XX08   1            NaN
3    sub-CC00067XX10   1            NaN
4    sub-CC00068XX11   1            NaN
..               ...  ..            ...
406  sub-CC01194XX16   1            NaN
407  sub-CC01198XX20   1            NaN
408  sub-CC01199XX21   1            NaN
409  sub-CC01206XX10   1            NaN
410  sub-CC01218XX14   1            NaN

[411 rows x 3 columns]

In [32]:
subs_dhcp.to_csv('/neurospin/dico/data/deep_folding/current/datasets/dHCP_374_subjects/qc_remove_snapshot.tsv', index=False, sep='\t')

In [35]:
## save participants
subs_dhcp_participants = subs_dhcp[['participant_id']][1:]

In [36]:
subs_dhcp_participants

      participant_id
1    sub-CC00063AN06
2    sub-CC00065XX08
3    sub-CC00067XX10
4    sub-CC00068XX11
5    sub-CC00071XX06
..               ...
406  sub-CC01194XX16
407  sub-CC01198XX20
408  sub-CC01199XX21
409  sub-CC01206XX10
410  sub-CC01218XX14

[410 rows x 1 columns]

In [37]:
subs_dhcp_participants.to_csv('/neurospin/dico/data/deep_folding/current/datasets/dHCP_374_subjects/participants.csv', index=False)